@import '_constants';

:host {
  display: block;
  padding: 1rem;
}

ul {
  padding: 0;
}

li {
  align-items: center;
  display: flex;
  font-family: $body-font-face;
  list-style: none;
  margin-bottom: 1rem;
}

mat-icon {
  display: block;
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}

span {
  font-size: 1.3rem;
}
