<ul class="menu" *ngIf="iconsAvailable">
  <li
    *ngFor="let item of navigationItemList; let i = index"

    (click)="navigateTo(item.ref)"
    role="button"
    (keydown.enter)="navigateTo(item.ref)"
    [tabindex]="i + 1"
    [class.active]="item.active">
    <ng-container
      *ngTemplateOutlet="navItem; context: { item: item }">
    </ng-container>
  </li>
</ul>

<ng-template #navItem let-item="item">
  <mat-icon [svgIcon]="item.icon"></mat-icon>
  <span>{{ item.label }}</span>
</ng-template>
