@import '_constants';

:host {
  display: block;
}

ul {
  padding: 0;
}

li {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: $body-font-face;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;

  &.active {
    background: #fff;
    color: $body-font-color-dark;
  }
}

mat-icon {
  display: block;
  height: 50px;
  margin-right: 1rem;
  width: 50px;
}

span {
  font-size: 1.3rem;
}
