@import '_constants';

:host {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

form {
  background: rgba($body-bg-color, 0.8);
  display: block;
  max-width: 450px;
  padding: 2rem;
}

mat-form-field {
  color: $body-font-color;
  margin-right: 1rem;
  width: 350px;
  input {
    color: $body-font-color;
    font-family: $body-font-face;
    margin-right: 1rem;
    width: 40%;
  }
}

button {

}
