
/*
Below are the constants for style properties that can be used throughout the application
*/

$header-font-face: 'Open Sans Condensed', sans-serif;
$body-font-face: 'Roboto', sans-serif;

$header-font-size: 1.2rem;
$body-font-size: 1rem;

$body-bg-color: #263238; // Blue grey

$body-font-color: #fff;
$body-font-color-dark: #333;

$menu-bg-color: rgba(#d50000, 0.8); // Deep red
