@import 'constants';

.background-photo {
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Results */
section {
  height: 500px;
  left: 5%;
  position: absolute;
  top: calc(-500px + 4rem);
  transition: 0.5s ease-in;
  width: 90%;
  z-index: 2;

  &.active {
    top: 0;
  }
}

header {
  bottom: 1rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: absolute;
  width: 100%;

  h1 {
    align-items: center;
    background: #fff;
    border-radius: 0 0 0.5rem 0.5rem;
    color: #000;
    display: flex;
    font-family: $header-font-face;
    font-size: $header-font-size;
    height: 100%;
    margin: 0;
    padding: 0 2rem 0.5rem;

    mat-icon,
    mat-progress-spinner {
      margin-right: 0.5rem;
      height: 25px;
      width: 25px;
    }
  }
}

aside {
  background: $menu-bg-color;
  left: 0;
  position: fixed;
  top: 5rem;
}

article {
  display: block;
  margin: 4rem 0 0 0rem;
}


.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: -100%;
  transition: 0.3s ease-out;
  width: 100%;
  z-index: 1;

  &.active {
    top: 0;
  }
}
