@import '_constants';

:host {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

article {
  background: rgba($body-bg-color, 0.8);
  cursor: pointer;
  display: block;
  padding: 1rem;
  width: 350px;
}

h1 {
  margin: 0.5rem 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}
