
/* Loads any fonts utilised by the UI */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:300');


/* Common properties */
@import '_constants';

/* Custom Material theme */
@import '_material-theme';

/* Basic layout. This could be a full CSS reset in a full version */
body {
  background: $body-bg-color;
  color: $body-font-color;
  font-family: $body-font-face;
  margin: 0;
}
